.container{
    background-color: rgb(49, 49, 49);
}

.navagation-bar {
    display : flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(68, 68, 68);
}


.left-side{
    display: flex;
}

.navagation-bar > .left-side > div{
    margin-right: 5px;
}

.nav-link{
    margin: 1px;
}

.nav-link a{
    height: 10px;
    color:rgb(189, 145, 33);
    font-size: 1em;
    text-decoration: none;
    transition: color 0.5s;
    transition: font-size 0.5s;
    
}

.discord-link {
    height: 10px;
    color:rgb(205, 88, 235);
    font-size: 1em;
    text-decoration: none;
    transition: color 0.5s;
    transition: font-size 0.6s;
}

.discord-link:hover{
    color: rgb(240, 182, 255);
    font-size: 1.3em;
}
 
.nav-link a:hover{
    color: rgb(255, 222, 38);
    font-size: 1.3em;
}
